/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  font-family: Helvetica;
  box-sizing: border-box;
}

section {
  margin: 10px auto auto;
  width: 75%;
}
h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
}
h5 {
  margin: 6px 4px 6px 4px;
  font-weight: normal;
}
p {
  margin: 8px 6px 6px 4px;
}

/* Nav bar */

header {
  float: left;
  margin: 6px 0 26px 0;
  padding: 6px 20px 6px 20px;
  width: 100%;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
header > nav {
  float: right;
  padding: 10px 0 10px 0;
  text-align: right;
}
nav {
  margin: 0 auto auto;
  width: 75%;
}

