/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#user-list{
  width: 95%;
}
.user-box{
  display: box;
  text-align: center;
  float: left;
  margin-right: none;
  margin-left: none;
  width: 15%;
}
.user-box ul{
  list-style-type: none;
}
.user-box img{
  float: left;
  width: 100px;
}

/*single profile page*/

#user-pic img{
  width:  30%;
  border-radius: 10px;
  float: left;
}

.user-profile {
  width: 60%;
  float: right;
  margin-bottom: 50px;
}

#user-questions {
  clear: both;
  border-top: 2px solid black;
}
